.similar-thumb {
	display: inline-block;
	width: 240px;
	float: left;
	margin: 0px 10px 30px 10px;
}

.similar-thumb p {
  margin: 0px;
  height: 5em;
  text-overflow: ellipsis;
  overflow: hidden;
}

.similar-options {

}
