<div class="similar-thumb">
  <img src= "{{thumbnail}}">
  <div class="expanded button-group">
    <a href="#" class="button tiny" id="que_button">Que</a>
    <a href="#" class="button tiny secondary" id="play_button">Play</a>
  </div>
  <p>{{title}}</p>
</div>
