<div class="media-object">
  <div class="media-object-section">
    <div class="thumbnail">
      <img src= "{{thumbnail}}">
    </div>
  </div>
  <div class="media-object-section">
    <h4>{{title}}</h4>
    <a href="#" class="button tiny" id="play_button" onclick="window.player.play('{{yt_id}}'); return false">Play</a>
  </div>
</div>
